.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  margin: 0 10px 20px 10px;
  width: 70vw;
  padding: 20px;
  border-radius: 10px;
  box-shadow: white 0px 0px 8px;
  transition: box-shadow 1s;
}

.card-product:hover {
  box-shadow: white 0px 0px 20px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-left: 20px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.card-product-infos a {
  margin: 0;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
